@import url(_variable.css);

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}
span,
p {
  font-family: var(--primary-font);
}
html {
  scroll-behavior: smooth;
}

h6 {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--primary-color);
}

.section-wrapper {
  padding: 95px 0 90px;
}
p {
  text-align: justify;
  font-size: 17px;
}
.row-one {
  margin-bottom: 55px;
}
.btn-custom {
  background-color: var(--primary-color);
  border-radius: 25px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.btn:hover {
  color: white;
}
/* navbar start */
.hotline {
  background-color: #ebebeb;
  padding: 8px;
  padding-right: 22px;
}

.hotline a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
  font-family: var(--primary-font);
}

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #b6b6b6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8);
  margin-top: 35px;
  background-color: white !important;
  transition: 0.3s;
}

.offsetTop {
  top: -35px;
}
nav img {
  object-fit: contain;
  height: 40px;
  width: auto;
}

.navbar-nav > li {
  float: left;
  position: relative;
}

#buy-btn a.active::after {
  background: none;
  transition: none;
}

.navbar-nav .nav-link {
  color: black !important;
}

.navbar ul li a {
  position: relative;
  display: flex;
  text-decoration: none;
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  text-transform: capitalize;
  top: 10px;
  font-size: 20px;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  font-family: var(--primary-font);
}
nav .nav-item:last-child .nav-link {
  top: 5px;
}
nav .nav-item:last-child .nav-link .btn {
  text-transform: uppercase;
  margin-right: 0;
}
/* navbar end */

/* hero banner start */
.heroBanner {
  margin-top: 64px;
  position: relative;
  background: url(../assets/hero-banner.jpg);
  background-size: cover;
}

.heroBanner .banner-content {
  position: relative;
  padding: 250px 135px 220px;
  text-transform: capitalize;
}

.heroBanner .banner-content h1 {
  font-weight: 800;
  color: var(--primary-color);
}

.heroBanner .banner-content p {
  margin-top: 25px;
  padding: 0 100px;
  font-size: 22px;
  font-weight: 600;
}

.heroBanner .banner-content .btn {
  position: relative;
  top: 50px;
}
.heroBanner .banner-content .btn-check {
  border-radius: 25px;
  background-color: var(--primary-color);
  min-width: 200px;
  padding: 5px 30px;
  color: white;
  font-size: 22px;
  font-weight: 700;
  box-shadow: 5px 10px 12px #111111;
  text-transform: uppercase;
}

/** Rounded button **/
.btn-rounded {
  border-radius: 5rem;
  /* margin-right: 2rem;  Icon sample spacing */
}

/** Icons Classes **/
/** -- Open Iconic and Font Awesome -- **/
.btn-iconed [class~=oi], .btn-iconed [class~=fa],
/** -- Since Material and Iconic used ::before -- **/
.btn-iconed [class~=mdi]::before,
.btn-iconed [class~=icon]::before {
  opacity: 0;
  -webkit-transform-origin: left right;
  transform-origin: left right;
  -webkit-transform: translateX(-10px) scale(1.25);
  transform: translateX(-10px) scale(1.25);
  transition: 0.15s ease-out;
}
/** Span Class **/
.btn-iconed [class="spn"] {
  position: relative;
  left: -9px;
  -webkit-transform-origin: left right;
  transform-origin: left right;
  -webkit-transform: translateX(-9px);
  transform: translateX(-9px);
  transition: 0.2s ease-in-out;
}
/** -- Icons on Hover properties -- **/
.btn-iconed:hover [class~="oi"],
.btn-iconed:hover [class~="fa"],
.btn-iconed:hover [class~="mdi"]::before,
.btn-iconed:hover [class~="icon"]::before {
  opacity: 1;
  -webkit-transform: translateX(0px) scale(0.75);
  transform: translateX(0px) scale(0.75);
}
/** -- Span on Hover properties -- **/
.btn-iconed:hover [class="spn"] {
  left: 0px;
}
/* hero banner end */

/* about banner start */
.about {
  background-color: var(--background-color);
}

.about .about-content {
  padding-left: 40px;
}

.about p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.about .btn-work {
  background-color: var(--primary-color);
  border-radius: 10px;
  min-width: 150px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  padding: 15px 20px;
}
/* about banner end */

/* best start */
.best {
  padding: 110px 0px 120px;
}

.box {
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0px 30px 20px 0px rgba(0, 37, 93, 0.15);
  border-radius: 15px;
  background-color: #f2cac7;
  height: 550px;
  transition: 0.5s;
}

.inner-box {
  width: 100%;
  position: relative;
  z-index: 99;
  padding: 30px 50px;
  transition: 0.3s ease-in;
  height: 100%;
}

.title {
  font-size: 20px;
  line-height: 34px;
  font-weight: 600;
  margin-top: 20px;
  color: #242424;
  transition: all 0.3s ease-in;
}

p {
  margin-bottom: 0px;
  font-size: 16px;
}

.best img {
  height: 200px;
}
/* best end */

/* why start */
.why {
  background-color: var(--background-color);
}

.why .info h3 {
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 15px;
  font-weight: bold;
}
.why .info h4 {
  font-size: 18px;
  font-weight: 600;
}

.why img {
  box-shadow: 10px 10px 5px grey;
}

.wrinkle-content p {
  max-width: 650px;
  margin: 0 auto;
}

#natural-way img {
  box-shadow: none;
}

#natural-way .box {
  background-color: white;
  height: 600px;
}

.why .btn-custom {
  padding: 15px 30px;
  min-width: 200px;
  font-size: 20px;
}
/* why end */
/* review start */
.review-box {
  background-color: grey;
}

.review-box h3 {
  padding: 180px 30px;
  color: var(--primary-color);
  text-transform: uppercase;
}

.review .wrinkle-content h3 {
  max-width: 650px;
  margin: 0 auto;
}

.woman-content img {
  box-shadow: 10px 10px 5px grey;
}
.woman-content h4 {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: 600;
  text-transform: capitalize;
}

.woman-content small {
  font-size: 15px;
}

.review .btn-custom {
  padding: 15px 30px;
  min-width: 200px;
  font-size: 20px;
}

.review .compare-content p {
  margin-bottom: 10px;
}
.review .btn:hover {
  color: white;
}
/* review end */

/* girl banner start */
.girl-banner {
  background-color: #e9edf0;
  position: relative;
}

.want-banner h3 {
  text-align: center;
  font-weight: 600;
}
.girl-banner .girl-want:before {
  content: "";
  background-image: url(../assets/girl-want.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  right: -100px;
  height: 100%;
  width: 965px;
  bottom: 0;
  top: 0;
  margin: auto;
}

.girl-banner ul {
  padding-top: 50px;
  padding-bottom: 50px;
}
.girl-banner ul li {
  font-size: 20px;
  font-family: var(--primary-font);
  margin-bottom: 20px;
  font-weight: 600;
}

.girl-banner ul li:before {
  content: "";
  background-image: url("../assets/tick.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: -30px;
  height: 36px;
  width: 36px;
}

.free-shipping {
  background-color: var(--primary-color);
}

.free-shipping #rocket {
  color: white;
}

.free-shipping p {
  font-size: 40px;
  text-align: center;
  color: white;
  padding: 10px 0;
}
/* girl-banner end */
/* buy start */
.buy .buy-content h2 {
  text-transform: capitalize;
  margin-bottom: 25px;
}

.buy .buy-content p {
  max-width: 850px;
  margin: 0 auto;
}
.buy .box {
  background: white;
  border-radius: 25px;
  height: 100%;
}
.buy .box-title {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 25px 25px 0 0;
}
.buy .box-title h4 {
  text-transform: uppercase;
  font-weight: 600;
}

.buy .box-title span {
  font-size: 16px;
  color: grey;
  opacity: 0.8;
}

.buy .inner-box img {
  margin: 20px 0;
}

.buy .inner-box h4 {
  color: grey;
  font-size: 20px;
}

.buy .inner-box .saving {
  font-weight: 600;
  font-size: 20px;
  font-weight: bolder;
}

.buy .inner-box .price .currency {
  font-size: 40px;
}
.buy .inner-box .price {
  display: block;
  font-size: 70px;
}

.buy .inner-box .bottle {
  font-size: 20px;
  font-weight: 800;
}

.buy .inner-box .per-bottle {
  display: block;
  font-size: 14px;
  font-weight: 800;
}

.buy .inner-box .refund {
  padding-top: 5px;
  text-align: center;
  font-size: 15px;
  padding: 10px 0 15px;
}

.buy .inner-box .shipping-detail i {
  font-size: 50px;
  color: var(--primary-color);
  position: absolute;
  left: 50px;
}

.buy .inner-box .shipping-detail span {
  display: block;
  text-align: left;
  padding-left: 60px;
  color: black;
  font-weight: 700;
}
.buy .inner-box .btn {
  text-transform: uppercase;
}
.buy .inner-box .purchase {
  padding-top: 30px;
}
.order-block {
  background-color: var(--primary-color);
  color: white;
}
.order-block .order-title {
  margin: 50px 0;
}
.order-block .order-title h2 {
  margin-bottom: 0;
  text-transform: capitalize;
  color: white;
}

.order-block .order-title p {
  max-width: 800px;
  margin: 0 auto;
}

.order-block .order-desc {
  padding: 20px;
}
.order-block .order-desc h4 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 550;
  padding: 20px 0 10px;
  min-height: 75px;
}

.order-block .order-desc p {
  padding: 10px 0 30px;
  line-height: 30px;
}

.buy .use h2 {
  text-transform: capitalize;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* buy end */
/* faq start */
.faq {
  background-color: var(--background-color);
}
.wrapper {
  width: 70%;
  margin: 0 auto;
}

.panel {
  background-color: var(--secondary-color);
  margin: 10px 0;
}

.panel-title {
  padding: 10px 30px;
}

.panel-body {
  background-color: white;
  padding: 10px 30px;
}

.panel-body ol {
  list-style: none;
}
.panel-body ol li {
  padding-bottom: 20px;
}
.panel-body ol li p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.panel-body a {
  color: var(--primary-color);
}
.panel-body a:hover {
  text-decoration: none;
  font-weight: 600;
}
@media (max-width: 992px) {
  .wrapper {
    width: 100%;
  }
}
.panel-heading {
  padding: 0;
  border: 0;
}
.panel-title > a,
.panel-title > a:active {
  display: block;
  padding: 15px;
  color: #555;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
}
.panel-heading a:before {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  float: right;
  transition: all 0.5s;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.faq .btn-custom {
  padding: 15px 30px;
  min-width: 200px;
  font-size: 20px;
}
.faq .disclaimer p {
  max-width: 800px;
  margin: 0 auto;
}

.faq .disclaimer .btn-refer {
  background-color: var(--secondary-color);
  border-radius: 25px;
  font-weight: 600;
  padding: 10px 20px;
  color: black;
  text-transform: capitalize;
}

.faq .disclaimer .btn:focus {
  outline: 0;
  box-shadow: none;
}
.faq .disclaimer .btn-refer:hover {
  background-color: var(--primary-color);
  color: white;
}

.faq .disclaimer ul li {
  padding: 10px 0;
  text-align: left;
}
/* faq end */
/* footer start */
.page-footer {
  background-color: #f5f3f3;
  padding-top: 50px;
}
footer img {
  height: 200px;
  width: 400px;
}

footer .footer-title {
  font-weight: 600;
  font-size: 29px;
}
footer ul li {
  padding: 5px 10px;
}
footer ul li a {
  color: black;
}
footer ul li a::before {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
footer ul li a:hover {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

footer .office {
  padding-top: 10px;
}

footer .office h6 {
  padding-top: 10px;
}
/* footer end */
/* only on desktop view start */
@media (min-width: 1040px) {
  .box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }
  .box:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
    transform: skewY(-5deg) scale(1.5);
  }

  h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 800;
    color: #242424;
    margin-bottom: 56px;
    text-transform: uppercase;
  }
  h3 {
    font-size: 25px;
    line-height: 50px;
    font-weight: 800;
    color: #242424;
    margin-bottom: 23px;
    text-transform: capitalize;
  }

  .progress {
    position: relative;
    left: 200px;
  }

  .navbar-nav .active:after,
  .navbar-nav li :hover:after {
    position: absolute;
    content: "";
    height: 0.1em;
    top: 100%;
    z-index: -1;
    left: 15px;
    right: 15px;
    transform: scaleX(1);
    transition: all ease-in-out 0.3s;
  }

  .navbar-nav a::after {
    position: absolute;
    content: "";
    height: 0.1em;
    top: 100%;
    background: var(--primary-color);
    z-index: -1;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  }
}
/* only on desktop view end */
/* ipad view */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav-link {
    width: 100%;
  }
  .navbar .nav-link:hover {
    color: var(--primary-color) !important;
  }
  .nav-link .btn-custom {
    min-width: 125px;
  }
  .heroBanner .banner-content {
    padding: 40px 50px;
  }

  .heroBanner .banner-content .btn {
    top: 10px;
  }

  .best .box {
    height: 570px;
  }
  .buy .product .col-md-6 {
    margin-bottom: 30px;
  }
}

/* ipad pro view */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .nav-link {
    width: 100%;
  }
  .navbar .nav-link:hover {
    color: var(--primary-color) !important;
  }
  .nav-link .btn-custom {
    min-width: 125px;
  }
  .heroBanner .banner-content {
    padding: 100px 50px;
  }
  .heroBanner .banner-content .btn {
    top: 30px;
  }
  .best .box {
    height: 650px;
  }

  .progress {
    position: relative;
    left: 150px;
  }
}

/* mobile start */
@media only screen and (max-width: 720px) {
  h2 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 24px;
  }
  p {
    font-size: 16px;
  }
  .row-one {
    margin-bottom: 20px;
  }
  /* navbar mobile start */
  .hotline {
    display: none !important;
  }

  .navbar {
    margin-top: 0;
  }

  .offsetTop {
    top: 0;
  }

  .navbar .nav-link:hover {
    color: var(--primary-color) !important;
  }
  .navbar .nav-item .nav-link {
    font-size: 14px;
  }

  .navbar .nav-item:last-child .nav-link {
    margin-left: 0;
  }

  /* navbar mobile end */

  /*hero banner mobile start */
  .heroBanner {
    margin-top: 65px;
    background: url(../assets/hero-banner-mobile.jpg);
    background-size: cover;
    background-position: 50%;
    height: 100vh;
  }
  .heroBanner .banner-content {
    padding: 0;
  }

  .heroBanner .banner-content h1 {
    font-size: 25px;
    margin-top: 30px;
  }

  .heroBanner .banner-content p {
    padding: 0 10px;
    font-size: 18px;
  }

  .heroBanner .banner-content .btn {
    font-size: 18px;
  }
  /* hero banner mobile end */

  /* about mobile start */
  .about {
    padding: 35px 10px;
  }

  .about .about-content {
    padding: 20px 10px 0;
  }

  .about .about-content h6 {
    font-size: 14px;
  }

  .about-title {
    font-size: 25px;
    line-height: 25px;
    font-weight: 800;
    color: #242424;
    text-transform: uppercase;
  }

  .about .about-content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
  }

  .about .btn-work {
    font-size: 14px;
    padding: 10px 15px;
  }
  /* about mobile end */

  /* best mobile start */
  .best {
    padding: 50px 0px;
  }

  .best .box {
    height: auto;
  }
  .best .inner-box {
    padding: 10px 20px;
  }

  .best h4 {
    font-size: 20px;
    line-height: 30px;
  }
  /* best mobile end */

  /* why mobile start */
  .why {
    padding: 50px 0px;
  }
  .why .btn-custom {
    padding: 15px 20px;
  }

  .why .info h3 {
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
    text-align: left;
  }

  .why .info p {
    text-align: left !important;
  }

  .why .wrinkle-content h3 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 800;
  }

  .why #natural-way {
    padding: 0px 20px;
  }
  /* why mobile end */
  /* review mobile review start */
  .review {
    padding: 50px 0;
  }
  .review-box h3 {
    padding: 80px 15px;
    font-size: 18px;
  }
  .review .btn-custom {
    font-size: 20px;
  }

  .review h3 {
    font-size: 18px;
    font-weight: 600;
  }

  .woman-content {
    padding-bottom: 15px;
  }
  .woman-content h4 {
    font-size: 16px;
  }
  /* review mobile review end */
  /* girl banner mobile start */
  .want-banner h3 {
    font-size: 18px;
    padding: 0 30px;
  }

  .girl-banner ul {
    padding: 20px 0px;
    padding-left: 50px;
    margin: 0;
  }
  .girl-banner ul li:before {
    left: 20px;
    height: 20px;
    width: 20px;
  }
  .girl-banner ul li {
    font-size: 16px;
  }

  .free-shipping p {
    font-size: 16px;
  }
  /* girl banner mobile end */
  /* buy mobile start */
  .progress img {
    width: 105%;
    height: 100px;
  }

  .buy .buy-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .buy .buy-content h1 {
    font-size: 20px;
  }

  .buy .product {
    padding: 0 20px;
  }
  .buy .product .col-md-6 {
    margin-bottom: 30px;
  }
  /* buy mobile end */
  /* faq mobile start */
  .faq {
    padding: 50px 0;
  }
  .faq .panel .panel-title {
    padding: 10px;
  }

  .faq .panel-body ol {
    padding-left: 10px;
  }

  .faq .disclaimer ul li {
    font-size: 16px;
  }
  /* faq mobile end */
  /* copyright start */
  .page-footer {
    text-align: center;
  }
  .page-footer img {
    margin-bottom: 30px;
  }
  .page-footer p {
    text-align: center;
  }
  /* copyright end */
}
/* mobile end */
