@import url(_variable.css);

h1,h2,h3,h4,h5,h6{
    font-family: var(--title-font);
}
span,p{
    font-family: var(--primary-font);
}
html {
    scroll-behavior: smooth;
}

h6{
    color:black;
    text-transform: uppercase;
    font-weight:600;
    color:var(--primary-color);
}
p{
    text-align: justify;
    font-size:17px;
}

/* navbar start */
.hotline{
    background-color:#ebebeb;
    padding:8px;
    padding-right:22px;
}

.hotline a{
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-weight: 600;
    font-family: var(--primary-font);
}

.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: #B6B6B6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.8);
    margin-top:35px;
    background-color: white!important;
    transition: .3s;
}

.offsetTop{
    top:-35px;
}
nav img{
    object-fit: contain;
    height:40px;
    width:auto;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:red;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
}

nav .nav-item .nav-link{
    text-transform: capitalize;
    position: relative;
    top:10px;
    font-size: 20px;
    color:black;
    margin-left:20px;
    margin-right:20px;
    font-family: var(--primary-font);
}

nav .nav-item:last-child .nav-link{
    top:5px;
}
nav .nav-item:last-child .nav-link .btn{
    color:white;
    text-transform: uppercase;
    margin-right:0;
}

.btn-custom{
    background-color: var(--primary-color);
    border-radius: 25px;
    font-weight:600;
}
/* navbar end */

/* hero banner start */
.heroBanner{
    margin-top:64px;
    position: relative;
    background:url(../assets/hero-banner.jpg);
    background-size: cover;
}

.heroBanner .banner-content{
    position: relative;
    padding:250px 135px 220px;
    text-transform: capitalize;
}

.heroBanner .banner-content h1{
    font-weight: 800;
    color:var(--primary-color);
}

.heroBanner .banner-content p{
    margin-top:25px;
    padding:0 100px;
    font-size: 22px;
    font-weight: 600;
}

.heroBanner .banner-content .btn-check{
    border-radius: 25px;
    background-color: var(--primary-color);
    min-width: 200px;
    padding:5px 30px;
    color:white;
    font-size:22px;
    font-weight: 700;
    box-shadow: 5px 10px 12px #111111;
    text-transform: uppercase;
}

/** Rounded button **/
.btn-rounded {
    border-radius: 5rem;
    /* margin-right: 2rem;  Icon sample spacing */
 }

 /** Icons Classes **/
/** -- Open Iconic and Font Awesome -- **/
.btn-iconed [class~=oi], .btn-iconed [class~=fa],
/** -- Since Material and Iconic used ::before -- **/
.btn-iconed [class~=mdi]::before,
.btn-iconed [class~=icon]::before {
  opacity: 0;
   -webkit-transform-origin: left right;
   transform-origin: left right;
   -webkit-transform: translateX(-10px) scale(1.25);
   transform: translateX(-10px) scale(1.25);
   transition: .15s ease-out;
}
/** Span Class **/
.btn-iconed [class=spn] {
   position: relative;
   left: -9px;
   -webkit-transform-origin: left right;
   transform-origin: left right;
   -webkit-transform: translateX(-9px);
   transform: translateX(-9px);
   transition: .20s ease-in-out;
}
/** -- Icons on Hover properties -- **/
.btn-iconed:hover [class~=oi], .btn-iconed:hover [class~=fa],
.btn-iconed:hover [class~=mdi]::before, .btn-iconed:hover [class~=icon]::before {
   opacity: 1;
   -webkit-transform: translateX(0px) scale(0.75);
   transform: translateX(0px) scale(0.75);
}
/** -- Span on Hover properties -- **/
.btn-iconed:hover [class=spn] {
   left: 0px;
}
/* hero banner end */

/* about banner start */
.about{
    padding:95px 0 100px;
    background-color: var(--background-color);
}

.about .about-content{
    padding-left:40px;
}

.about p{
    font-size:18px;
    line-height: 30px;
    font-weight: 400;
}

.about .btn-work{
    background-color: var(--primary-color);
    border-radius: 10px;
    min-width: 150px;
    font-weight:600;
    color:white;
    text-transform: uppercase;
    padding:15px 20px;
}
/* about banner end */

/* best start */
.best{
    padding:110px 0px 120px;
}

.box{
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0px 30px 20px 0px rgba(0, 37, 93, 0.15);
    border-radius: 15px;
    background-color:#f2cac7;
    height:550px;
    transition: .5s;
}
  
.inner-box{
    width: 100%;
    position: relative;
    z-index: 99;
    padding: 30px 50px;
    transition: 0.3s ease-in;
    height:100%;
}

.title{
    font-size: 20px;
    line-height: 34px;
    font-weight: 600;
    margin-top:20px;
    color: #242424;
    transition: all 0.3s ease-in;
}

p{
    margin-bottom:0px;
    font-size:16px;
}

.best img{
    height:200px;
}
/* best end */

/* why start */
.why{
    padding:95px 0 100px;
    background-color: var(--background-color);
}

.why .row-one{
    margin-bottom:55px;
}

.why .info h3{
    font-size:22px;
    line-height: 35px;
    margin-bottom:15px;
    font-weight: bold;
}
.why .info h4{
    font-size:18px;
    font-weight:600;
}

.why img{
    box-shadow: 10px 10px 5px grey;
}

.wrinkle-content p{
    max-width:650px;
    margin: 0 auto;
}

#natural-way img{
    box-shadow:none;
}

#natural-way .box{
    background-color:white;
    height:600px;
}
/* why end */
/* only on desktop view start */
@media(min-width:1040px){
    .box:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    }
      
    .box:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40%;
        z-index: 1;
        transform: skewY(-5deg) scale(1.5);
    }

    h2{
        font-size:40px;
        line-height: 50px;
        font-weight: 800;
        color:#242424;
        margin-bottom: 56px;
        text-transform: uppercase;
    }
    h3{
        font-size:25px;
        line-height: 50px;
        font-weight: 800;
        color:#242424;
        margin-bottom: 23px;
        text-transform: capitalize;  
    }
}
/* only on desktop view end */
/* ipad view */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {

    .nav-link .btn-custom{
        min-width:125px;
    }
    .heroBanner .banner-content{
        padding:40px 50px;
    }

    .best .box{
        height:570px;
    }
}

/* ipad pro view */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .nav-link .btn-custom{
        min-width:125px;
    }
    .heroBanner .banner-content{
        padding:100px 50px;
    }

    .best .box{
        height:650px;
    }
}

/* mobile start */
@media only screen and (max-width:720px){
    h2{
        font-size:25px;
        line-height: 35px;
        margin-bottom:24px;
    }
    p{
        font-size:16px;
    }

    /* navbar mobile start */
    .hotline{
        display: none!important;
    }

    .navbar{
        margin-top:0;
    }

    .offsetTop{
        top:0;
    }
    .navbar .nav-item .nav-link{
        font-size:14px;
    }

    .navbar .nav-item:last-child .nav-link{
        margin-left:0;
    }

    /* navbar mobile end */

    /*hero banner mobile start */
    .heroBanner{
        margin-top:65px;
        background:url(../assets/hero-banner-mobile.jpg);
        background-size: cover;
        height:100vh;
    }
    .heroBanner .banner-content{
        padding:0;
    }

    .heroBanner .banner-content h1{
        font-size:25px;
        margin-top:30px;
    }

    .heroBanner .banner-content p{
        padding:0 10px;
        font-size:18px;
    }

    .heroBanner .banner-content .btn{
        font-size:18px;
    }
    /* hero banner mobile end */

    /* about mobile start */    
    .about{
        padding:35px 10px;
    }

    .about .about-content{
        padding:20px 10px 0;
    }

    .about .about-content h6{
        font-size:14px;
    }

    .about-title{
        font-size: 25px;
        line-height: 25px;
        font-weight: 800;
        color: #242424;
        text-transform: uppercase;
    }

    .about .about-content p{
        font-size:16px;
        line-height:26px;
        margin-bottom:25px;
    }

    .about .btn-work{
        font-size:14px;
        padding:10px 15px;
    }
    /* about mobile end */

    /* best mobile start */
    .best{
        padding:50px 0px;
    }

    .best .box{
        height:auto;
    }
    .best .inner-box{
        padding:10px 20px;
    }

    .best h4{
        font-size:20px;
        line-height:30px;
    }
    /* best mobile end */

    /* why mobile start */
    .why{
        padding:50px 0px;
    }

    .why .row-one{
        margin-bottom:20px;
    }

    .why .info h3{
        font-size:18px;
        text-transform: capitalize;
        margin-top:20px;
        margin-bottom:20px;
        line-height:25px;
        text-align: left;
    }

    .why .info p{
        text-align: left!important;
    }

    .why .wrinkle-content h3{
        font-size:18px;
        line-height:25px;
        font-weight:800
    }
    /* why mobile end */
}
/* mobile end */
